<main>
    <section>
        <h1>1º Forma</h1>
        <h2><i><u>Via telefónica</u></i></h2>
        <p><b>Teléfono Movil: 697 67 61 67</b></p>
        <p><i><u>Disponible de 15:00 a 20:00</u></i></p>
    </section>

    <section>
    <h1>2º Forma</h1>
    <h2><i><u>Via formulario</u></i></h2>

        <form>
            <table>
                <tr>
                    <td><label>Nombre:</label></td>
                    <td><input type="text" class="caja" name="nombre" placeholder="Introduce tu nombre aquí"></td>
                </tr>
                <tr>
                    <td><label>Apellidos:</label></td>
                    <td><input type="text" class="caja" name="apellidos" placeholder="Introduce tus apellidos"></td>
                </tr> 
                <tr>
                    <td><label>Correo Electronico:</label></td>
                    <td><input type="text" class="caja" name="correoelectronico" placeholder="Introduce tu correo electronico"></td>
                </tr>
                <tr> 
                    <td><label>Mensaje:</label></td>
                    <td><input type="text" class="caja" name="mensaje" placeholder="Introduce tu duda"></td>
                </tr>
            </table>   
        </form>
    </section>
        
</main>