main{
    border: 1px solid black;
    height: 600px;
}
h2{
    text-align: center;
    color: rgb(194, 3, 3);
}

nav{
    display: flex;
    flex-flow: column nowrap;
}



nav a{
    text-decoration: none;
    color: black;
    margin: 10px auto 10px auto;
    font-size: 25px;
}