/*Nav*/
nav{
    flex-flow: row wrap;
    justify-content: space-around;
}

nav a{
    width: 30%;
    height: 35px;
}

/*Main*/
main{
    width: 70%;
}
main{
    flex-flow: row wrap;
    justify-content: space-around;
}
main div{
    width: 50%;
}
main div h1{
    display: block;
    margin-top: 30px;
}