footer{
    border: black 2px solid;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
        "soc . map"
    ;
    margin-top: 130px;
    background-color: rgb(167, 167, 167);
}

footer app-footer-sociales{
    grid-area: soc;
}

footer app-footer-mapa{
    grid-area: map;
}