main{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
        "men cue asi"
    ;
}
main app-main-menu{
    grid-area: men;
    background-color: rgb(170, 170, 170);
}

main app-main-cuerpo{
    grid-area: cue;
}

main app-main-aside{
    grid-area: asi;
    background-color: rgb(170, 170, 170);
}