main{
    width: 80%;
    text-align: center;
    margin: 30px auto 30px auto;
    height: auto;
    border: 1px solid black;
    background-color: gainsboro;
}
main aside{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
main aside div img{
    width: 100px;
}
