<main>

    <aside>

        <div>
            <h1>PAYPAL</h1>
            <img src="/assets/img/metodospagos/paypal.png" alt="">
        </div>
        <div>
            <h1>Targeta</h1>
            <img src="/assets/img/metodospagos/targetacredito.png" alt="">
        </div>
        
        <div>
            <H1>PAYSAFECARD</H1>
            <a href=""><img src="/assets/img/metodospagos/paysafecard.png" alt=""></a>
        </div>

    </aside>



    <aside>

        <div>
            <h1>Bizum</h1>
            <img src="/assets/img/metodospagos/bizum.jpeg" alt="">
        </div>
        <div>
            <h1>Tranferencia Bancaria</h1>
            <img src="/assets/img/metodospagos/transferenciabancaria.jpg" alt="">
        </div>
        
        <div>
            <H1>Google Pay</H1>
            <a href=""><img src="/assets/img/metodospagos/googlepay.jpg" alt=""></a>
        </div>

    </aside>



    <aside>
        <div>
            <h1>Apple Pay</h1>
            <img src="/assets/img/metodospagos/applepay.png" alt="">
        </div>
        <div>
            <h1>Aplazame</h1>
            <img src="/assets/img/metodospagos/aplazame.png" alt="">
        </div>
        
        <div>
            <H1>Sofort</H1>
            <a href=""><img src="/assets/img/metodospagos/sofort.jpg" alt=""></a>
        </div>
    </aside>
</main>