nav#menuprincipal{
    grid-area: men;
    text-align: end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color:rgb(85, 95, 95);
    height: 50px;
}

nav#menuprincipal a{
    text-decoration: none;
    color:aquamarine;
    margin: auto;
    font-size: 20px;
}