<main>
    <div id="principal">
        <figure>
            <img src="/assets/qsomos/fotopersonal.jpg" alt="">
        </figure>
        <div id="info">

            <h1>Sobre mí</h1>

            <p>

                Buenas, me presento, me llamo Pedro Benítez Fuentes, soy un chico de 18 años al cual le fascina el mundo de la informática, actualmente soy técnico en Sistemas Microinformáticos y Redes (SMR), y en la actualidad me encuentro estudiando Administración de Sistemas Informáticos en Red (ASIR), de siempre quise estar al tanto del mundo de la informática, soy una persona a la cual le gusta mucho el estar al tanto intentando aprender cosas nuevas todos los días para de esta forma mejorar mi aprendizaje, intento siempre empezar y terminar el trabajo dando el 100% de mi, intento investigar para mejorar los conocimientos que tengo, hago todo lo posible para poder dejar a los JCLIENTES con la mejor experiencia que se pueda tener, tengo algo de experiencia ya en el entorno laboral, con algunos trabajos ya realizados como podría ser formateo de equipos, mantenimiento, instalación de Sistemas Operativos, mantenimiento de redes sociales con su actualizaciones, etc…

            </p>
        </div>
    </div>
</main>
