<main>
    <section>
        
        <h1>Servicios</h1>
        <ol>
            <li>Mantenimiento de redes sociales</li>
            <ul>
                <li>Instagram</li>
                <li>Facebook</li>
                <li>Youtube</li>
            </ul>
            <li>Página Web</li>
            <ul>
                <li>Página Básica = 100€</li>
                <li>Página Profesional = 200€</li>
            </ul>
            <li>Ayuda en seleccion de componentes</li>
            <ul>
                <li>Te ayudamos a encontrar los componentes edoneos para ti</li>
                <li>Te decimos si los componentes que quieres son compatibles y buenos</li>
            </ul>
            <li>Ayuda en desarrollo</li>
        </ol>

    </section>
</main>