main{
    margin: 100px auto auto auto;
    width: 60%;
    border: 4px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: gainsboro;
}
main section h1{
    font-size: 50px;
}

main section ol{
    font-size: 25px;
}

section{
    width: 80%;
    margin: auto;
    padding: 15px;
}
ul{
    padding-left: 30px;
}
