<nav id="sociales">
    <a href="https://www.instagram.com/pedrobf03/?hl=es">
        <i class="fab fa-instagram-square"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100024213947212">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCvNaEFXCdZVAAyzFVNMrbvQ">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.twitch.tv/pedritobf03">
        <i class="fab fa-twitch"></i>
    </a>
    <a href="https://www.tiktok.com/@pedrobf03">
        <i class="fab fa-tiktok"></i>
    </a>
    <a href="https://twitter.com/PedritoBF03">
        <i class="fab fa-twitter"></i>
    </a>
</nav>