<section>

    <div class="contenedor">
      <h1>Mantenimiento de redes sociales</h1>
      <div class="texto">
        <p>Uno de los principales trabajos realizados por mi seria en este caso la realizacion de publicaciones, asi como el mantenimiento y el constante uso de las redes sociales de una empresa para intentar llegar al máximo numero de peronas posibles</p>
        <figure>
          <img src="./assets/trabajos/insta.jpg" alt="">
        </figure>
      </div>
  </div>

  <div class="contenedor">
    <h1>Montaje de equipos</h1>
    <div class="texto">
      <p>El que alomejor es uno de mis campos favoritos y en el cual mas disfruto trabajando es este, el montaje de ordenadores a mi la verdad que me entretiene bastante es uno de mis temas favoritos para trabajar y siendo sincero de los que mas proyectos tanto profesionales como personales he realizado</p>
      <figure>
        <img src="./assets/trabajos/montar-pc.jpg" alt="">
      </figure>
    </div>
</div>

<div class="contenedor">
  <h1>Mantenimiento de equipos</h1>
  <div class="texto">
    <p>Si tu equipo va lento y deseas que mejore el rendimiento de este ya sea formateandolo o intentanto hacer que valla mas ligero, siempre se recomendara la opcion más barata y mas recomendada dependiendo lo que se le tenga que hacer a tu equipo</p>
    <figure>
      <img src="./assets/trabajos/insta.jpg" alt="">
    </figure>
  </div>
</div>




</section>
