main{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: gainsboro;
}
main div{
  border: 1px solid black;
  padding: 20px;
}
main div h1{
    font-size: 50px;
}
main div p{
    border-top: 1000px;
    font-size: 25px;
}

main div figure{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 50px;
}
main div figure img{
    width: 30%;
}
