<main>
    <div>
        <h1>Formación</h1>
        <p>Actualmente me encuentro en una situacion en la cual puedo decir que mi formacion se ha estendido algo mas de los estuidos que he cursado y que actualmente estoy cursando, ya que se debe tener en cuenta que tengo experiencia tambien en el campo de redes sociales trabajando en la creacion de anuncios publicitarios, subiendo publicaicones diarias, intentando que el mayor numero de gente vea las publicaciones y que sean lo mas bonitas y llamativas posibles, a demas de esto tambien hoy en dia cuento la formacion por cuenta propia debido a diversos cursos que estoy realizando como por ejemplo podrian ser algunos el de python, o AngularJS, como algunos en los cuales estoy deseando formarme aún, a demas de intentar al tamto y aprender cosas de forma independiente y escuchando a otras personas.</p>
        <figure>
            <img src="/assets/formacion/montajepc.jpg" alt="">
            <img src="/assets/formacion/programacion.jpg" alt="">
        </figure>
    </div>
</main>