header{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
        "log men usu"
    ;
    border: black 2px solid;
    height: 100px;
}

header app-header-logo{
    grid-area: log;
    background-color: aqua;
}

header app-header-menu{
    grid-area: men;
    background-color: orange;
}

header app-header-usuario{
    grid-area: usu;
    background-color: pink;
}