header{
    display: grid;
    grid-template-columns: 3fr 10fr 2fr;
    grid-template-rows: repeat(3,3fr);
    grid-template-areas: 
        "log . usu"
        ". . ."
        "rel men men"
    ;
    margin-bottom: 30px;
}

header div.rellenoheader{
    grid-area: rel;
    background-color:rgb(85, 95, 95);
}

header app-header-logo{
    grid-area: log;
    background-color: aqua;
}

header app-header-menu{
    grid-area: men;
    background-color: rgb(85, 95, 95);
}

header app-header-usuario{
    grid-area: usu;
    background-color: pink;
}